<div class="container login">
  
    <form class="form-container" method="POST">
      <div class="titulo-login">
        <h2>Ingresa a SISGEV</h2>
    </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Usuario</label>
          <input [(ngModel)]="usuario.username" name="username" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">Olvide mi nomuser</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Clave</label>
          <input [(ngModel)]="usuario.password" name="password" type="password" class="form-control" id="exampleInputPassword1">
          <small id="emailHelp" class="form-text text-muted">Olvide mi clave</small>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Recordar Usuario</label>
        </div>
        <button (click)='login()' type="submit" class="btn" >Ingresa</button>
      </form>
</div>
